.profile__image-edit-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  border: none;
  opacity: 0;
  background: transparent url("../../../images/edit-icon.svg") center center
    no-repeat;
  background-size: contain;
  transition: opacity 0.3s;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.profile__avatar-container:hover .profile__image-edit-button {
  opacity: 1;
}
